<!doctype html>

<html>

<head>
	<title>{{{title}}}</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
	<link rel="stylesheet" href="/static/style.css">
</head>

<body>
	{{{body}}}
	<script src="/static/iframeResizer.min.js"></script>
	<script src="/static/styleguide.js"></script>
	<script src="https://cdn.rawgit.com/google/code-prettify/master/loader/run_prettify.js?lang=css"></script>
</body>

</html>
