<!doctype html>

<html>

<head>
	<title>Demo iframe</title>
	<link rel="stylesheet" href="static/aconex-ui/aconex-ui.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
	<script src="/static/aconex-ui/aconex-ui-angular.js"></script>
	<style>
		body, html { margin: 0; }
	</style>
</head>

<body class="auiReset-font">{{{contents}}}</body>

</html>
