*,
*:after,
*:before {
	box-sizing: border-box;
}

body,
html {
	height: 100%;
	line-height: 1.6;
}

body {
	font-family: helvetica, arial, sans-serif;
	font-size: 0.9rem;
	color: #454545;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

h1:first-child {
	margin-top: 0;
	text-transform: capitalize;
}

h2,
h3,
h4,
h5,
h6 {
	color: #333;
	margin: 0 0 8px 0;
}

h3,
h4,
h5,
h6 {
	color: #888;
}

blockquote {
	color: #666;
	font-size: 16px;
	margin: 24px 0;
	font-weight: lighter;
}

p {
	margin: 0 0 16px;
}

code {
	background-color: #f9f2f4;
	color: #c7254e;
	padding: 2px 4px;
	font-size: 0.8rem;
}

.styleguide-page {
	position: relative;
	height: 100%;
	overflow: hidden;
}

.styleguide-sidebar {
	background: #f1f1f1;
	color: #777;
	position: absolute;
	width: 280px;
	top: 0;
	left: 0;
	bottom: 0;
	overflow-y: auto;
	border-right: 1px solid #ddd;
	z-index: 1;
}

.styleguide-brand {
	border-bottom: 1px solid #ddd;
	font-size: 0.9rem;
	padding: 16px 0;
	font-weight: bold;
	line-height: 24px;
}

.styleguide-brand > a {
	color: #454545;
	text-decoration: none;
}

.styleguide-brand > img {
	float: left;
	width: 24px;
	margin-right: 16px;
}

.styleguide-brand,
.styleguide-nav {
	padding-left: 32px;
	padding-right: 32px;
}

.styleguide-nav {
	margin: 0;
	padding-top: 24px;
	padding-bottom: 24px;
	list-style: none;
}

.styleguide-nav a {
	text-decoration: none;
	color: #777;
	display: block;
	padding: 2px 16px;
}

.styleguide-nav a.active,
.styleguide-nav a:hover {
	color: #fe7d18;
}

.styleguide-nav li {
	text-transform: capitalize;
	list-style: none;
}

.styleguide-nav > li {
	font-size: 1.1rem;
	margin-bottom: 16px;
}

.styleguide-nav > li > ul {
	margin: 8px 0 0;
	padding: 0;
}

.styleguide-nav > li > ul > li {
	font-size: 0.9rem;
}

.styleguide-content {
	padding: 12px 32px;
	position: absolute;
	top: 0;
	left: 280px;
	right: 0;
	bottom: 0;
	overflow-y: auto;
}

.styleguide-content img {
	max-width: 100%;
}

.styleguide-demo {
	padding: 0px 0 16px;
}

.styleguide-demoTabs {
	display: flex;
	font-size: 0.8rem;
}

.styleguide-demoTabs > a {
	display: block;
	cursor: pointer;
	color: #969696;
	padding: 0px 24px 8px 0;
}

.styleguide-demoTabs > a:not(:first-child) {
	text-transform: uppercase;
}

.styleguide-demoTabs > a.active {
	color: #454545;
	font-weight: bold;
}

.styleguide-demoContents {
	display: none;
	padding: 24px;
	border: 1px solid #ddd;
	border-left: 4px solid #ddd;
}

.styleguide-demoContents.active {
	display: block;
}

.styleguide-demoContents > iframe {
	border: none;
	width: 100%;
}

.styleguide-demoCode {
	margin: 0;
	font-size: 0.8rem;
}

pre.styleguide-demoCode.prettyprint {
	border: none;
	padding: 0;
}
